### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# python cache files
__pycache__/
*/__pycache__/
tests/__pycache__/
*.pyc
*.py[cod]
*$py.class
.pytest_cache/
.cache/
.ipynb_checkpoints
.pyre/
.mypy_cache/
.dmypy.json
.pytype/
.pytype/
